@font-face {
    font-family: caveat;
    src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: quicksand;
    src: url(../../fonts/static/Quicksand-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-bold-italic;
    src: url(../../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family:BebasNeue;
    src: url(../../fonts/BebasNeue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family:Anton;
    src: url(../../fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family:Playball;
    src: url(../../fonts/Playball/Playball.ttf);
}


@font-face {
    font-family:MarckScript;
    src: url(../../fonts/MarckScript/MarckScript-Regular.ttf);
}

@font-face {
    font-family:AlexBrush;
    src: url(../../fonts/AlexBrush/AlexBrush.ttf);
}


@font-face {
    font-family:DidactGothic;
    src: url(../../fonts/DidactGothic/DidactGothic.ttf);
}
