// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #f5ebf5;
$clr4: #95adbe;
$clr5: #8c9491;
$clr6: rgb(51, 50, 50);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;